
.bg{
    width: 100%;
    position: absolute;
    inset: 0;
    background: url("../images/bg.png") no-repeat center / cover;
}
.login{
    width: 300px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 460px){
    .login{

        width: 400px;
    }
}
.sign-in, .sign-up{
    background-color: #F8ECDD;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    
}
@media screen and (min-width: 520px){
    .sign-in, .sign-up{
        padding: 40px;
        border-radius: 10px;
    }
}
.logo{
    margin-bottom: 24px;
}
.logo img{
    width: 100%;
    vertical-align: middle;
}

.input-text{
    padding: 12px 16px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    color: #9f9a91;
}
.sign-in-group .pwd-group, .sign-up-group .pwd-group{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
}
.pwd-group .input-text{
    flex-grow: 1;
    margin-bottom: 0;
}
.pwd-icon:hover{
    cursor: pointer;
}
.sign-in-group .pwd-icon{
    font-size: 24px;
    color: #9f9a91;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.sign-up-group .pwd-icon{
    font-size: 24px;
    color: #9f9a91;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.forgot-pwd{
    align-self: flex-end;
    text-decoration: none;
    text-align: right;
}
.forgot-pwd:hover{
    text-decoration: underline;
    color: #0171d3;
}
.forgot-pwd span{
    font-size: 14px;
    font-weight: 700;
    color: #0171d3;
    
}
.btn{
    background-color: #333333;
    padding: 12px 48px;
    border: 1px solid #333333;
    border-radius: 10px;
    margin: 24px auto;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background-color: #111111;
    border: 1px solid #111111;
}
.sign-up .btn{
    margin-bottom: 0;
}
.sign-in .line{
    position: relative;
    background-color: #9f9a91;
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
}
.sign-in .line::before{
    content: "Or";
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9f9a91;
    background-color: #f8ecdd;
}
.sign-in .third-options .link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
}
.sign-in .third-options .facebook{
    background-color: #4267b2;
    margin-bottom: 8px;
}
.sign-in .third-options .facebook:hover{
    background-color: #274889;
}
.sign-in .third-options .google{
    background-color: #dc4545;  
}
.sign-in .third-options .google:hover{
    background-color: #bc3b3b;  
}
.sign-in .third-options .facebook .bx{
    text-indent: 1rem;
}
.sign-in .third-options .bx{
    font-size: 24px;
    margin-right: 8px;
}
 .login-radio{
    display: none;
} 
.login-radio:checked ~.current{
    display: flex;
    flex-direction: column;
}

.login .sign-in-group .tag, .login .sign-up-group .tag{
    width: 40%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    text-align: center;
    cursor: pointer;
} 
@media screen and (min-width: 520px){
    .login .sign-in-group .tag, .login .sign-up-group .tag{
        width: 70px;
        border-radius: 10px;
        text-align: right;
        
    }
}
.login .sign-in-group .tag{
    background-color: #f1c17c;
    top: -35px;
    left: 0;
}
@media screen and (min-width: 520px){
    .login .sign-in-group .tag{
        top: 70px;
        left: auto;
        right: -60px;
    }
    
}
.login .sign-up-group .tag{
    background-color: #d0b18b;
    top: -35px;
    right: 0;
}
@media screen and (min-width: 520px){
    .login .sign-up-group .tag{
        top: 130px;
        right: -60px;
    }
    
}
@media screen and (min-width: 520px){
    .login .sign-in-group .tag:hover, .login .sign-up-group .tag:hover{
        transition: right .8s;
        right: -80px;
    }
}
.login .current{
    
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 460px){
    .login .current{
        box-shadow: 3px 5px #f1c17c, 6px 10px #d0b18b;
    }
}
.login-radio:checked ~ .tag{
    background-color: #f8ecdd;
}
@media screen and (min-width: 520px){
    .login-radio:checked ~ .tag{
        background-color: #f8ecdd;
        right: -80px;
    }
}
