body{
    background-color: #F8ECDD;
    font-family: "Noto Sans TC", serif;
}
#nav-switch{
    display: none;
}
.main-header{
    padding: 16px 32px;
    
    
}
.header-group{
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-group h1{
    /* margin-right: 40px; */
}
.header-group h1 img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.header-group .main-nav{
    overflow: hidden;
}

.add-todo{
    position: relative;
    margin-bottom: 16px;

}
.add-todo input{
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
}
.add-todo .add-icon{
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-todos{
    
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #fff;
}
.card-todos .bx{
    font-size: 20px;
    vertical-align: middle;
}
.card-todos .card-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    /* border-bottom: 1px solid #333333; */
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
    /* color: #9f9a91; */
}
.card-todos .card-header span{
    padding: 16px 0;
    width: 33.3333%;
    text-align: center;
    color: #9F9A91;
    border-bottom: 2px solid #9F9A91;
}
.card-todos .card-header span:hover{
    cursor: pointer;
}
.card-todos .card-header .active, .card-todos .card-header span:hover{
    color: #333;
    border-bottom: 2px solid #333;
}
.card-todos .card-body{
    padding: 16px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.card-todos .todos-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
}
.card-todos .todos-item:not(:first-of-type){
    padding-top: 16px;
}
.card-todos .card-body .todos-item span{
    margin-left: 16px;
}
.card-todos .card-footer{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

/* Navbar */
@media screen and (max-width:767px){
    .header-group .hb{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #333;
        border-radius: 10px;
        position: relative;
    }
    .header-group .hb span{
        width: 70%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .header-group .hb .bar1{
        top: 10px;
        transform: rotate(0deg);
        transition: top .5s .5s, transform .5s;
    }
    .header-group .hb .bar2{
        top: 0;
        bottom: 0;
        opacity: 1;
        transition: .5s 1s;
        
    }
    .header-group .hb .bar3{
        bottom: 10px;
        transform: rotate(0deg);
        transition: top .5s .5s, transform .5s;
    }
    #nav-switch:checked~.header-group .hb .bar1{
        top: 19px;
        transform: rotate(405deg);
        transition: top .5s, transform .5s .5s;
    }
    #nav-switch:checked~.header-group .hb .bar2{
        opacity: 0;
        transition: .5s; 
    }
    #nav-switch:checked~.header-group .hb .bar3{
        bottom: 19px;
        transform: rotate(315deg);
        transition: bottom .5s, transform .5s .5s;
    }
    .header-group .main-nav{
        /* overflow-x: hidden; */
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        opacity: 0;
        transition: opacity 1s, left 0s 0.95s;
        background-color: #888;
        z-index: 1;
    }
    #nav-switch:checked~.header-group .main-nav{
        border-radius: 10px;
        left: 0;
        opacity: 1;
        transition: 1s;
    }
    .header-group .main-nav a{
        display: block;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        color: #fff;
    }
    .header-group .main-nav a+a{
        border-top: 2px solid #F8ECDD;
    }
}
@media screen and (min-width:768px){
    .container{
        max-width: 500px;
    }
    .main-header .hb{
        display: none;
    }
    .main-nav{
        display: flex;
    }
    .main-nav a{
        margin-left: 24px;
        color: #333;
    }
}